
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.hidden{
    display:none !important;
}
#receptionContainer{
    padding: 20vh;
}
.logo{
    display: flex;
    gap: 2vh;
    align-items: center;
    justify-content: center;
}
#receptionButtons{
     display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#receptionButtons .reception{
    background-color: white;
    color: rgb(24, 150, 150);
    border:  5px solid;
    width: 25vh;
    height: 5vh;
    border-color: aqua;
   border-radius: 20px;
}
/* Interface */
#interfaceMainContainer{
    background-color: blue;
    padding: 15vh;
}
#interfaceContainer{
    background-color: white;
  width: 180vh;
  height: 70vh;
    
}